<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reaction Network Visualization</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
{{STYLES}}
    </style>
</head>
<body>
    <div id="network-container"></div>

    {{SIDEBAR}}

    {{MODALS}}

    <script>
        const NETWORK_DATA = {{NETWORK_DATA}};
    </script>
    <script>
{{SCRIPTS}}
    </script>
</body>
</html>
